<div class="add-comment-wrapper">
    <textarea name="Add comment" class="input-comment-textarea textarea-autosize" placeholder="Коментувати" maxlength="2600"></textarea>
    <button class="add-comment-btn">Коментувати</button>
</div>