<div class="sidebar">
    <div class="list">
        <a href="/new">Новинки</a>
        <a href="/popular">Популярна</a>
        <a href="/genres">Жанри</a>
        <a href="/artists">Виконавці</a>
    </div>
</div>