<div class="sidebar">
    <div class="list">
        <a isLink href="/new">Новинки</a>
        <a isLink href="/popular">Популярна</a>
        <a isLink href="/genres">Жанри</a>
        <a isLink href="/artists">Виконавці</a>
    </div>
</div>