<style>
    .error-page {
        display: flex;
        flex-direction: column;
    }
    
    .error-text-1,
    .error-text-2 {
        margin: 0 auto;
        margin-top: 30px;
    }
</style>

<div class="error-page">
    <h1 class="error-text-1">Error 404</h1>
    <h3 class="error-text-2">Сторінка не знайдена</h3>
</div>