<h2 class="page-block-top">Виконавці</h2>
<hr>
<div class="page-block">
    <div id="artists-container">
        <% for (let i = 0; i < artists.length; i++) { %>
            <% const artist = artists[i] %>

            <a isLink href="/artist/<%= artist._id %>" class="artist">
                <div class="img-wrapper">
                    <img src="/api/avatar/<%= artist._id %>">
                </div>
                <span class="name"><%= artist.login %></span>
            </a>
        <% } %>
    </div>
</div>


<link rel="stylesheet" href="/css/artists.css">