<form id="auth-form" class="auth-block page-block">
    <h3 id="title">Увійти в акаунт</h3>

    <div id="login-panel" class="panel" style="display: none;">
        <input id="login" type="text" placeholder="Ім'я">
        <div class="error-message"></div>
    </div>

    <div id="email-panel" class="panel">
        <input id="email" type="email" placeholder="Пошта">
        <div class="error-message"></div>
    </div>

    <div id="password-panel" class="panel">
        <input id="password" type="password" placeholder="Пароль">
        <div class="error-message"></div>
    </div>

    <div id="confirm-password-panel" class="panel" style="display: none;">
        <input id="confirm-password" type="password" placeholder="Підтвердження пароля">
        <div class="error-message"></div>
    </div>

    <button id="submit-btn">Увійти</button>
    <button id="toggle-form-btn">Створити акаунт</button>
</form>

<link rel="stylesheet" href="/css/auth.css">
<script src="/js/auth.js"></script>