<div class="auth-block page-block">
    <h3 id="title">Увійти в акаунт</h3>
    <input type="text" placeholder="Ім'я" id="login" hidden>
    <input type="email" placeholder="Пошта" id="email">
    <input type="password" placeholder="Пароль" id="password">
    <input type="password" placeholder="Підтвердження пароля" id="confirm-password" hidden>
    <button id="submit-btn">Увійти</button>
    <button id="signup-btn">Створити акаунт</button>
</div>