<!DOCTYPE html>
<html lang="en">

<head>
    <script>
        (function() {
            if (/Android|iPhone|iPad|iPod|Windows Phone/i.test(navigator.userAgent)) {
                document.documentElement.classList.add("mobile-device");
            }
        })();
    </script>

    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <title>Soundupe</title>

    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/sidebar.css">
    <link rel="stylesheet" href="/css/comment.css">
    <link rel="stylesheet" href="/css/song.css">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">
</head>

<body>
    <%- include("./partials/header") %>
    
    <div class="info">
        <div id="main"></div>
        <%- include("./partials/sidebar") %>
    </div>

    <%- include("./partials/footer") %>

    <script src="/js/auth.js"></script>
    <script src="/js/upload-song.js"></script>
    <script src="/js/artist.js"></script>
    <script src="/js/index.js"></script>

</body>

</html>