<div class="page-block">
    <span class="title"><a href="/artist/id" class="song-artist">Виконавець</a> - <span class="song-name">Назва</span></span>

    <div class="song-info">
        <span>Дата додавання: Дата</span>
        <span>Дата створення: Дата</span>
        <span>Розмір: 0 Mb</span>
        <span>Тривалість: 00:00</span>
        <span>Прослуховування: 0</span>
    </div>
</div>
<hr>
<div class="page-block">
    <h3 class="page-block-top">Популярна музика автора</h3>
    <div id="songs-container" class="songs-container">
        <% for (let i = 0; i < 6; i++) { %>
            <%- include("./partials/song") %>
        <% } %>
    </div>
</div>
<hr>
<div class="comments">
    <div class="comments-top">Коментарі</div>
    <%- include("./partials/add comment") %>
    <div id="comments-content">
        <% for (let i = 0; i < 20; i++) { %>
            <%- include("./partials/comment") %>
        <% } %>
    </div>
</div>