<h2 class="page-block-top">Новинки</h2>
<hr>
<div class="page-block">
    <div id="songs-container" class="songs-container">
        <% for (let i = 0; i < music.length; i++) { %>
            <% const song = music[i]; %>

            <%- include("./partials/song", { song, user }) %>
        <% } %>
    </div>
</div>


<link rel="stylesheet" href="/css/new.css">
<script>
    window.musicList = `<%- JSON.stringify(music) %>`;
</script>