.title {
    margin-bottom: 30px;
}

.title .song-artist {
    font-size: 20px;
    font-weight: 600;
    color: orange;
}

.title .song-name {
    font-size: 18px;
    font-weight: 600;
}

.song-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.page-block-top {
    padding: 0;
    margin-bottom: 20px;
}


.song-lyrics-container {
    text-align: start;
    margin-bottom: 20px;
    white-space: pre-line;
}

.song-lyrics-container.shorten {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-clamp: 2;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.more-lyrics-btn {
    font-size: 14px;
    align-self: self-start;
}